/** Scope your css rules in a specific class to prevent merge conflicts! **/

.header {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.10);
}


.main-menu__container .main-menu {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 0px auto;
    width: 60%;
    margin-left: 20rem;
}


.main-menu li a {
    color: var(--zwitsal-orange);
    text-decoration: none;
    font-weight: bold;
}

.main-menu__container ul {
    list-style: none;
}

.main-menu .sub-menu {
    color: var(--zwitsal-orange);
    display: none;
}

.main-menu {
    position: relative;
}

.main-menu li:hover .sub-menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    margin-top: 30px;
    margin-left: -100px;
    position: absolute;
    width: 100%;
}



.main-menu .sub-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

