/** Scope your css rules in a specific class to prevent merge conflicts! **/
.header {
    border: 2px solid orange;
    width: 100%;
    margin: 0 auto;
    position: fixed;
}

.main-menu__container {
    width: 100%;
    position: absolute;
}

.main-menu {
    margin: 0 auto;
    width: 60%;
    border: 2px solid hotpink;
    display: flex;
    justify-content: space-around;

}


.main-menu .sub-menu {
    display: none;
    position: absolute;
    left: 0;
}

.main-menu li:hover .sub-menu {
    width: 100%;
    display: grid;
    border: 2px solid purple;
    background-color: white;
    z-index: 99;    
}

.main-menu .sub-menu {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
} 

.main-menu .sub-menu ul li a, .main-menu ul li a, .main-menu li a {
    color: black;
    list-style: none;
    text-decoration: none;
}

.main-menu li, .sub-menu li {
     list-style: none;
}

.main-menu li a {
    color: orange;
}

.main-menu
