/** Scope your css rules in a specific class to prevent merge conflicts! **/

.promotions {
    max-width: 1170px;
    width:100%;
    margin: auto;
}

.promo {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    font-size: 18px;
    line-height: 1.77;
}

.promo-btn {
margin-top: 16px;
margin-bottom: 40px;
border-radius: 8px 8px 8px 8px;
padding: 0 28px;
height: 48px;
cursor: pointer;
background-color: #ea5635;
color: #fff;
font-size: 18px;
font-weight: 600;
line-height: 1;
letter-spacing: .39px;
border: 0;
}

.promo-btn:hover {
    background-color: #ff9b86;
}

.promo-img {
    position: relative;
  /* padding-top: 56.25%; /* 16:9 Aspect Ratio*/
   max-width: 450px;
   width: 50vw;
   border-radius: 10px;
  }

  .promo-title {
      color:  #ea5635;
      font-size: 52px;
      font-weight: 400;
      margin-top: 16px;
      line-height: 1;
      margin-bottom: 0;
  }

  .text-container-promo-1 {
      padding-right:95px;
  }

  .text-container-promo-2 {
    padding-left:95px;
}

@media (max-width:975px) {
.promo-1 {
    flex-direction: column;
}
.promo-2 {
    flex-direction: column-reverse;
}

.text-container-promo-1 {
    padding-right:0px;
}

.text-container-promo-2 {
  padding-left:0px;
}
.promo-img {
    max-width: 960px;
    width: 95%;
    
}

}
