/** Scope your css rules in a specific class to prevent merge conflicts! **/
.search {
    width: 100%;
    background-color: white;
    display: none;
}

.search.visible {
    display: block;
}

.search-header {
    display: flex;
    justify-content: space-between;
}

.search-body {
    padding: 20px;
    background: #eee;
    height: 100%;
    width: 100%;
    opacity: 10%;
}

.search-lists {
    text-decoration: none;
    color: red;
    list-style: none;

}

.search-icon {
    size: 10px;
    height: 20px;
    width: 20px;
    display: flex;
}

.search-icon:hover {
    cursor: pointer;
    height: 20px;
    width: 20px;
}

.search-icon-cancel {
    padding-top: 0.5 rem;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.search-icon-cancel:hover {
    cursor: pointer;
    height: 20px;
    width: 20px;
}