/** Scope your css rules in a specific class to prevent merge conflicts! **/
.scroll {
    position: fixed;
    bottom: 2rem;
    right: 0;
    background: hsla(0,0%,90%,.31);
    color: #ea5635;
    cursor: pointer;
    display: flex;
    font-size: 56px;
    font-family: 'Give You Glory', cursive;
    font-weight: 400;
    padding: .5rem;
    border-radius: .25rem 0 0 .25rem;
    z-index: 99;
    width: 47px;
    height: 57px;
  
}

.scroll:hover{
    color: #ff9b86;
}

.arrow {
    position: fixed;
    bottom: 1.5rem;
    right: 1rem;
    margin: 0;
    padding: 0;
}

